*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
 
}
html,body{
  height: 100%;
  width: 100%;

}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  
 
}
.card{
  height: 310px;
  width: 270px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  ;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 4px;
}
.top button{
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color:transparent;
  font-size: 12px;
  gap: 2px;
  color: #b1b1b1;

}
.centre h3{
  font-size: 12px;

}
.centre{
  margin-top: -15px;
}
.centre span{
  color: #b1b1b1;
  font-size: 10px;
  padding: 8px;
}
.centre h2{
  margin-top: 10px;
  font-size: 20px;
}
.centre .tag {
  display: flex;
  font-size: 10px;
  font-weight: 200;
  gap: 10px;
  margin-top: 10px;

}
.centre .tag h4{
  background-color: #ddd9d9;
  padding: 8px;
  border-radius: 5px;
  font-weight: 550;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(203, 199, 199);
  padding-top: 15px;

}
.bottom p{
  color: #8d8b8b;
  font-size: 11px;

}
.bottom button{
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.bottom h3{
  font-size: 15px;
}