*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';

}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  color: white;
  height: 350px;
  width: 350px;
  border: 2px solid black;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #222;
}
.card p{
  margin: 20px;
}
.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  gap: 20px;

}
.card button{
  padding: 10px;
  border-radius: 10px;
}